body {
    margin: 0;
    padding: 0
}

header {
    position: relative;
    display: flex;
    height: 60px;
    width:  100%;
    padding: 0.5rem;
    background-color: rgb(24, 24, 255);
    color: white;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

header img {
    height: 2.5rem;
}

header h1 {
    text-align:  justify;
}

header nav span a {
    padding: 40px;
    text-decoration: none;
    color: white;

}

.space {
    height: 40px;
}

.wide_space {
    height: 500%;
}

.img_container {
    width: 100%;
    border: 1px solid #000000;
    position: relative;
    margin: 30px auto;
}
.img_container img {
    width: 100%;
    vertical-align: middle;

}

.text_in_container {
    padding: 0px 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 40px;
    color: white;
    font-weight: bold;
}

.aboutUs ,.ourServices {
    padding: 30px 30px 30px 30px;
}

.roundhr {
    border-radius: 6px;
    text-align: left;
    margin-left: 0;
}
 
.aboutUs div,.ourServices div {
    padding: 20px 30px 30px 10px;    
}